body {
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    margin: 0;
    min-height: 100vh;
    
}

/* header css*/
.header {
    display: flex;
    background-color: #1F2937;
    justify-content: space-between;
    color: #F9FAF8;
    align-items: center;
    font-size: 18px;
    padding: 45px 22%;
}

.link {
    display: flex;
    gap: 45px;
}

button {
    color:#E5E7EB;
    background-color: #1F2937;
    border: none;
    text-align: center;
    font-size: 19px;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

button:hover {
    color:#E5E7EB;
    background-color: #1F2937;
    border: 2px solid #3882F6;
    border-radius: 8px;
    padding: 5px;
    text-align: center;
    font-size: 19px;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

.headerlogo {
    font-weight: bolder;
    font-family: 'Aclonica font';
    font-size: 30px;
    color: #F9FAF8;
    display: flex;
    align-items: center;
    gap: 17px;

}

.logotext {
    align-items: center;
}

.bull {
    width: auto;
    height: 50px;
}

/* end of header css*/

/* upper container*/
.upperContainer {
    display: flex;
    background-color: #1F2937;
    color: white;
    align-items: center;
    font-size: 15px;
    padding: 150px 22%;
    gap: 30px;
    
}

.upper-left {
    padding: 15px 0;
    display: flex;
    flex-direction: column;
    gap: 10px;
    flex: 1;
    width: 150px;
}

.upper-right {
 flex: 1;
 width: 300px;
 height: 200px;
}

img {
    height: 200px;
    width: 480px;
    border-radius: 15px;
}

.title {
    font-weight: bolder;
    font-size: 48px;
    color: #F9FAF8
}

.headerbutton {
    max-width: 100px;
    height: 30px;
    background-color: #104eb3;;
    color: #F9FAF8;
    border-radius: 8px;
    border: 0px;
    margin: 10px 0px;
    font-size: 15px;
    font-weight: 700;
}

.headerbutton:hover {
    max-width: 100px;
    height: 30px;
    background-color: #1F2937;
    border: 2px solid #3882F6;
    color: #F9FAF8;
    border-radius: 8px;
    margin: 10px 0px;
    font-size: 15px;
    font-weight: 700;
}

.text {
    font-size: 17px;
}

/* end of upper container*/

/* info container*/

/** {
    border: 2px solid red;
}*/

.title-container {
    display: flex;
    justify-content: center;
    font-size: 15px;
    padding: 90px 22%;
    font-size: 36px;
    font-weight: bolder;
    color: #1F2937;
    text-shadow: 2px 1px grey;
}

.borderbox {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 70px;
    align-items: center;
    padding: 50px 22%;
    padding-bottom: 180px;
}

.text-underbox {
    text-align: center;
}

.img{
    border: 4px solid #1F2937;
    border-radius: 18px;
    height: 150px;
    width: 150px;
    justify-content: center;
}

.box {
    display: block;
    justify-content: center;
    align-items: center;
    height: 160px;
    width: 160px;
}

.pattern {
    height: 150px;
    width: 150px;
}

/* end of info container*/


/* inspiration container*/
.inspirationContainer {
    display: flex;
    flex-direction: column;
    background-color: #E5E7EB;
    padding: 150px 22%;
    gap: 30px;
}

.inspiration {
    font-size: 25px;
    font-style: italic;
    color: #1F2937;

}

.author {
    display: flex;
    font-weight: bold;
    justify-content: flex-end;

}



/* end of inspiration caontainer */

/* sponsor container */
.sponsor {
    display : flex;
    padding: 90px 22%;
    justify-content: space-between;
}

.action {
    font-size: 16px;
    color:#E5E7EB;
}

.calltoaction{
    font-size: 24px;
    color:#E5E7EB;
    font-weight: bold;
    padding-bottom: 0px;
}

.bluecolor {
    background-color: #104eb3;
    box-shadow: 3px 3px #888888;
    display: flex;
    justify-content: space-between;
    flex: 1;
    padding: 60px;
    border-radius: 18px;
    align-items: center;
}

.low-button {
    max-width: 250px;
    height: 45px;
    background-color: #104eb3;
    color: #F9FAF8;
    border-radius: 8px;
    border: 0px;
    margin: 10px 0px;
    font-size: 15px;
    font-weight: 700;
    border: 1px solid #E5E7EB;
    box-shadow: 1px 1px #888888;
}

.low-button:hover {
    max-width: 250px;
    height: 45px;
    background-color:#1F2937;
    color: #F9FAF8;
    border-radius: 8px;
    border: 0px;
    margin: 10px 0px;
    font-size: 15px;
    font-weight: 700;
    border: 1px solid #E5E7EB;
    box-shadow: 1px 1px #888888;
}

/* end of sponsor container */


/* footer container */
.footer {
    display: flex;
    justify-content: center;
    background-color: #1F2937;
    color: #E5E7EB;
    padding: 60px 22%;
}
/* end of footer container */


